
.footer{
    margin: 0;
    text-decoration: none;
    text-transform: none;
    box-sizing: border-box;
    list-style: none;
    border-radius: 0;
    font-family: PFDin,sans-serif;
    line-height: 1;
    position: relative;
    margin-top: auto;
    background-color: #e0e9ee;
    padding: 60px 0;
}

.text_with_icons svg {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    position: absolute;
    left: -21px;
}

.text_with_icons {
    position: relative;
}

@media screen and (max-width: 1450px){
.footer .cont {
    margin-right: 30px;
}
}

footer #language-menu ul a {
    color: #536279;
}

@media screen and (max-width: 1450px){
#language-menu a {
    font-size: 15px;
    padding: 3px 5px;
}
}

.footer-lang-view #language-menu {
    flex-flow: row;
}

.footer{
    margin-top: 60px;
}

footer .footer-links a:hover {
    text-decoration: none;
    color: #f89c49;
  }
  
  .text_with_icons {
    position: relative;
  }
  
  .text_with_icons svg {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    position: absolute;
    left: -21px;
  }
  
  .text_with_icons svg p {
    margin-left: 20px;
    text-align: left;
  }
  
  .footer-lang-view {
    height: 40px;
  }
  
  .footer-lang-view a {
    width: 30px;
    display: block;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  .footer-lang-view a.selected-lan {
    color: #f89c49;
    margin-right: 10px;
    vertical-align: bottom;
  }
  
  .footer-lang-view ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
  
  .footer-lang-view ul a {
    padding: 3px 5px;
    color: #536279;
  }
  
  .footer-lang-view ul a:hover {
    color: #f89c49;
    text-decoration: none;
  }
  
  .icons a {
    padding: 0 5px;
    text-align: center;
    color: #294063;
  }
  
  .icons a:hover {
    color: #536279;
    text-decoration: none;
  }
  
  .icons a:focus {
    outline: none;
  }
  
  .icons i:focus {
    outline: none;
  }
  
  .footer .cont {
    color: #536279;
  }
  
  .footer .cont a {
    color: #536279;
    text-decoration: none;
  }
  
  .footer .cont a:hover {
    text-decoration: none;
    color: #f89c49;
  }
  
  .footer .cont p {
    line-height: 1.2;
    margin-bottom: 9px;
  }
  
  .footer .footer-links li {
    margin-bottom: 15px;
  }
  
  .footer .footer-links a {
    color: #3f5968;
    text-decoration: none;
  }

  .hide{
    display: none;
}
  
.platform_add_symbol_header {
  border: 1px solid #536279;
  border-radius: 5px;
  display: inline-flex;
  padding: 0 9px;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  line-height: 1;
  font-size: 36px;
  cursor: pointer;
}

.input{
  padding: 6px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid #536279;
  color: #536279;
  font-size: 24px;
  max-width: 500px;
  margin-bottom: 15px;
}


/* .elements-table td{
  border-collapse: collapse;
  margin: 0;
  text-decoration: none;
  text-transform: none;
  box-sizing: border-box;
  list-style: none;
  border-radius: 0;
  line-height: 1.5;
  color: #536279;
  font-weight: 300;
  background-color: #e0e9ee;
  border-bottom: 1px solid #fff;
  font-size: 14px;
  padding: 10px 15px!important;
} */

.elements-table th, .s-table th, .table th{
  border-collapse: collapse;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  border-radius: 0;
  font-family: PFDin,sans-serif;
  line-height: 1;
  padding: 24px 30px 20px 30px;
  height: 100%;
  background-color: #536279;
  color: white;
  text-transform: uppercase;
  border-bottom: 1px solid #fff;
  white-space: nowrap;
  font-size: 12px;
  text-align: center;
}

.table td{
  text-align: center;
  border-bottom: 2px #536279 solid;
}

.table td.no-underline{
  border: none;
}

.s-table thead td{
  background-color: #536279;
  color: white;
  font-weight: 600;
  text-align: center;
  padding: 5px 0;
}

.s-table td{
  background-color: #e0e9ee;
  padding: 4px 4px 0 4px;
  text-align: center;
}

td.table-input input{
  padding: 6px 0;
  border: none;
  border-bottom: 1px solid #536279;
  color: #536279;
}

td.table-input select{
  padding: 6px 0;
  border: none;
  border-bottom: 1px solid #536279;
  color: #536279;
  width: 100%;
}


.swith{
  display: flex;
  flex-direction: row;
}

.btn-swith {
  font-size: 16px !important;
  padding: 26px 50px !important;
  font-weight: 500 !important;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  transition: 0.4s;
  text-transform: uppercase;
}

.active {
  font-size: 16px !important;
  color: #294063 !important;
  background-color: #f89c49 !important;
  padding: 26px 50px !important;
  font-weight: 500 !important;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  transition: 0.4s;
  text-transform: uppercase;
}

.not-active{
  border: 1px #f89c49 solid;
}

.not-active:hover {
  background-color: #294063 !important;
  color: #f89c49 !important;
}

.prokat, .zvarni{
  padding-top: 20px;
  padding-bottom: 10px;
}

.symbol{
  border: 1px solid #536279;
  border-radius: 5px;
  display: inline-flex;
  padding: 0 6px;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  line-height: 1;
  font-size: 24px;
  cursor: pointer;
  margin: 2px;
}

.symbol-copy{
  border: 1px solid #536279;
  border-radius: 5px;
  padding: 2px 6px;
  justify-content: center;
  align-items: center;
  line-height: 1;
  font-size: 16px;
  cursor: pointer;
  margin: 2px;
}

.add_symbol{
  border: 1px solid #536279;
  border-radius: 5px;
  padding: 0 6px;
  justify-content: center;
  align-items: center;
  line-height: 1;
  font-size: 18px;
  cursor: pointer;
  margin: 2px 6px;
}

.title_2 {
  font-size: 32px;
  font-weight: 500;
  color: #536279;
  text-transform: uppercase;
}

.input{
  margin-top: 10px;
  padding: 6px 0;
  border: none;
  border-bottom: 1px solid #536279;
  color: #536279;
}

.m-2{
  padding: 40px 0;
}

.link{
  text-decoration: underline;
  color: #536279;
}

.link:hover{
  color: #f89c49;
}

.text{
    color: #536279;
}

.btn-inline{
  display: flex;
  flex-direction: row;
}

.mr-30{
  margin-right: 30px;
}

.mt-20{
  margin-top: 20px;
}

.res-koef{
  margin: 40px 0;
  color: #536279;
  text-align: center;
}

.results-table tr{
  text-align: center;
}

.results-table td{
  border-collapse: collapse;
  margin: 0;
  text-decoration: none;
  text-transform: none;
  box-sizing: border-box;
  list-style: none;
  border-radius: 0;
  line-height: 1.5;
  color: #536279;
  font-weight: 300;
  background-color: #e0e9ee;
  border-bottom: 1px solid #fff;
  font-size: 14px;
  padding: 10px 15px!important;
}

.results-table th{
  border-collapse: collapse;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  border-radius: 0;
  font-family: PFDin,sans-serif;
  line-height: 1;
  padding: 24px 30px 20px 30px;
  height: 100%;
  background-color: #536279;
  color: white;
  text-transform: uppercase;
  border-bottom: 1px solid #fff;
  white-space: nowrap;
  font-size: 12px;
  text-align: center;
}

.results-table p{
  font-size: 14px; 
  line-height: 1.5;
}

.results-table .danger{
  background-color: #F89C49;
  color: #fff;
}

.results-table .coment{
  background-color: #fff;
  border:  2px solid #F89C49;
}

.title_3{
  color: #536279;
  margin: 10px;
}

.preview{
  text-align: center;
}

.preview img{
  max-width: 100%;
}

.arrow{
  max-height: 100px;
}

.title_4{
  color: #294063;
  margin: 10px;
  font-size: 24px;
  text-transform: uppercase;
}

.title_5{
  text-align: center;
  color: #536279;
  margin: 10px;
  font-size: 32px;
  text-transform: uppercase;
}

.left{
  float: left;
  width: calc(66.66% - 25px);
  padding-right: 10px;
}

.right{
  float: left;
  width: calc(33.33% - 25px);
}

.row::after{
  content: "";
  display: table;
  clear: both;
}